*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "CustomFont";
    src: url("RolexLight.woff2");
}

.customFont{
    font-family: CustomFont;
    font-size: small;
}

.login-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 7, 29);
}

.cover{
    background-color: black;
    width: 26em;
    height: 25em;
    position: relative;
    border-radius: 1em;
    box-shadow: 0.0.188em 1.550em rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family: CustomFont;
}

.cover h1{
    font-size: 19px;
    color: whitesmoke;
}

.credentials input{
    border: none;
    background-color: rgb(229, 226, 226);
    height: 4em;
    width: 130%;
    border-radius: 0.25em;
    text-align: center;
    padding: 2em;
}
.credentials input:focus{
    outline-color: rgb(32, 127, 225);
    outline-style: solid;
    outline-width: 2px;
}


.login-button{
    align-items: center;
    background: linear-gradient(93.87deg,#095ae6,#062794);
    border-radius: 8px;
    color: #d1e8ff;
    display: flex;
    flex-direction: row;
    font-family: "Inter",sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;
    border-radius: 0.25em;
    cursor: pointer;
    justify-content: center;
    line-height: 24px;
    padding: 12px;
    width: 40%;
}

.login-button:hover{
    transform: scale(1.25);
}

.hide {
    display: none;
    transform: scale(0);
}

.Login-popup{
    position: absolute;
    height: 25em;
    width: 26em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.25em;
    background-color: black;
    color: white;
    bottom: 0;
    transform: scale(1);
    transition: 1.5s;
}

.checkboxlogin{
    height: 13px;
    width: 1.3em;
    margin-right: 2px;
}

.credentials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.labelcheckbox{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -27px;
    font-size: 14px;
    font-family: sans-serif;
    color: #999;
}