/* customer-support-chat.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.chat-container {
  display: flex;
}

/* Left Column */

.conversation-header {
  display: flex;
  justify-content: space-between;
}

.conversation-header > button {
  background-color: #d04646;
  cursor: pointer;
}

.conversations-container {
  height: 100vh;
  width: 30%;
  border-right: 1px solid #ccc;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.conversations-container h2 {
  margin-bottom: 10px;
}

.conversation-list {
  list-style: none;
  padding: 0;
}

.conversation-item {
  cursor: pointer;
  margin-bottom: 5px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 18px;
}

.conversation-item ~ .selected {
  background: gray;
}

.status-filters {
  display: flex;
  justify-content: space-around;
}

/* Right Column */
.chat-window {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.chat-window > p {
  text-align: center;
}

.chat-header {
  margin-bottom: 10px;
}

.message-container {
  border: 1px solid #ccc;
  min-height: 300px;
  padding: 10px;
  height: calc(100% - 100px);
  overflow-y: scroll;
}

.message-item {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
}

.message-item.incoming {
  background-color: #e5e5e5; /* Light gray for incoming messages */
  align-self: flex-start;
  text-align: left;
}

.message-item.outgoing {
  /* background-color: #4caf50; Green for outgoing messages */
  align-self: flex-end;
  /* color: white; Text color for outgoing messages */
  text-align: right;
}


.conversations-container {
  overflow-y: auto;
  /* max-height: 500px; Adjust the maximum height as needed */
}

.message-container {
  overflow-y: auto;
  /* max-height: 300px; Adjust the maximum height as needed */
}

.conversation-list {
  height: calc(100% - 130px);
  overflow-y: scroll;
}

.input-box > input {
  width: 94%;
  height: 30px;
}

.input-box > button {
  height: 30px;
}