
.chat-container{
  display: flex;
  height: 100vh;
}


/* Left column */
.Leftcol{
min-width: 30%;

}

.Headbox{
  display: flex;
  height: 60px;
  background: #5162f3;
  padding: 8px 16px;
  align-items: center;
  color: #fafafa;
}
.Headbox h2{
  font-size: 23px;
}
.Headbox img:first-child{
  height: 46px;
  width: 71px;
  padding-right: 20px;
  margin-left: 10px;
}
.Headbox img:last-child{
  height: 33px;
  width: 33px;
  margin-left: auto;
}


.search-box{
  background: #f8f8fd;
  /* background: #f8f8fd; */

  height: 6.5vh;
  border-bottom: 1px solid #f2f2f2;
  display: flex;
  align-items: center;
}

.Searchbar{
background-color: #f0f2f5;
position: relative;
margin: 0 15px;
width: 100%;
border-radius: 10px;

}

.Searchbar img{
  position: absolute;
  height: 30px;
  padding: 6px 23px;
}


.conversation-list{
  height: 73.5vh;
  overflow: overlay;
  background: #f8f8fd;
  /* background: #f0f0f8; */

}


/* .conversation-list::-webkit-scrollbar{
  width: 0.3vw;
  scroll-behavior: smooth;
}
.conversation-list::-webkit-scrollbar-thumb{
  background-color: #555;
  height: 1vh;
  border-radius: 9px;
}
.conversation-list::-webkit-scrollbar-track{
  background-color: white;
} */

.conversation-list img{
  height: 47px;
  padding: 0 14px;
  object-fit: cover;
  border-radius: 50%;
}

/* no data found */
.conversation-list p{
    height: 73.5vh;
    font-size: 16px;
    color: #667781;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}


.convoitems{
  cursor: pointer;
  padding: 13px 0;
  display: flex;
  align-items: center;
}

.rightconvid{
  margin-left: 3px;
  font-size: 17px;
}

.leftstatus{
  margin-left: 3px;
  font-size: 16px;
  color: rgb(0,0,0,0.6);
}

.status-filter {
  background-color: #5162f3;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  height: 59px;
  color: #ededed;
}

.status-filter input{
  margin-right: 5px;
  cursor: pointer;
}

.selected{
  background-color: rgb(212, 212, 212);
}

/* Right Column */
.Rightcol{
  width: 73%;
  min-width: 300px;
  height: 100%;
  border-left:  1px solid rgba(0, 0, 0, 0.14);
  
  }

.conversation-header {
  height: 60px;
  background: #5162f3;
  padding: 8px 16px;
  display: flex;
  align-items: center;
}

.conversation-header img{
  height: 45px;
  width: 66px;
  padding-right: 20px;
  margin-left: 10px;
  object-fit: cover;
}

.chat-header{
  margin-left: 3px;
  font-size: 17px;;
  color: #fafafa;
}


.statusheader{
  margin-left: 3px;
  font-size: 16px;
  color: rgba(236, 235, 235, 0.6);
}

.conversation-header > button {
background-color: #d04646;
margin-left: auto;
padding: 8px;
}


.message-container {
  padding: 20px 40px;
  height: 80vh;
  overflow-y: scroll;
  background: #dcdaf8;
  background: #e6dddd;
}

.message-item {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 8px;
}

.message-item.incoming {
  background-color: #ffffff; /* Light gray for incoming messages */
  max-width: 60%;
  padding: 5px;
  width: fit-content;
  display: flex;
  border-radius: 7px;
  word-break: break-word;
}

.message-item.outgoing {
  background: #dcf8c6;
  max-width: 60%;
  margin-left: auto;
  padding: 5px;
  width: fit-content;
  display: flex;
  border-radius: 7px;
  word-break: break-word;
}

.message-item p{
  font-size: 15px;
  padding: 0 18px 0 5px;
}


.rightfooter{
  background: #5162f3;
  background: #e6dddd;
  height: 59px;
  border-top: 10em black;
}

.input-box{
  height: 59px;
  background: #aeb5f1;
  background: #f8f8fd;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 15px;
  & > * {
    margin: 5px;
    color: #919191;
  }

}

.type{
  background-color: #f5f5f5;
  border-radius: 18px;
  width: calc(90%);
}

.input-box img{
  height: 20px;
}


.emptychat{
  background: #f8f8fd;
  padding: 30px 0;
  text-align: center;
  height: 100%;
 }
 
 .emptychat img{
     width: 400px;
     margin-top: 150px;
 }
 
 .title{
     font-size: 25px;
     margin: 25px 0px 10px 10px;
     font-family: inherit;
     font-weight: 200;
     color: #41525d;
 }
 .subtitle{
 font-size: 14px;
 color: #667781;
 font-weight: 400;
 font-family: inherit;
 }